/*
=================
NAVBAR
=================
*/

@media screen and (max-width: 640px) {
    nav .left p {
        display: none;
    }

    .page-content {
        margin: 5%;
    }

    .page-content header .header-presentation {
        width: 100%;
    }

    .page-content header .header-image {
        display: none;
    }

    .page-content .values .value-card {
        width: 100%;
        margin: 5%;
    }

    .page-content .values .value-card h1 {
        margin: 0;
    }

}


