/*
=================
FONTS GOOGLE
=================
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
   

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

/*
=================
NAVBAR
=================
*/

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}

nav .left {
    display: flex;
    align-items: center;
}

nav .left h1 {
    text-transform: uppercase;
    color: #faff03;
}

nav .left p {
    margin-left: 20px;
    cursor: pointer;
}

nav .left p:hover {
    color: #c5c5c5;
}

nav .right button {
    font-size: 16px;
    background-color: inherit;
    cursor: pointer;
}

nav .right button.login {
    color: white;
    border: none;
    outline: none;
}

nav .right button.login:hover {
    color: #c5c5c5;
}

nav .right button.signup {
    padding: 5px 15px;
    color:  #faff03;
    border: 1px solid #faff03;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

nav .right button.signup:hover {
    background-color: #faff03;
    color: black;
}

/*
========================
MAIN PRESENTATION
========================
*/

.page-content {
    margin: 5% 10%;
}

.page-content header {
    display: flex;
    align-items: center;
}

.page-content header .header-presentation {
    width: 90%;
}

.page-content header .header-presentation h1 {
    margin: 0;
    font-size: 35px;
}

.page-content header .header-presentation p {
    font-weight: 300;
}

.page-content header .header-presentation button {
    padding: 0;
    background-color: inherit;
    color:  #faff03;
    border: none;
    outline: none;
    cursor: pointer;
}

.page-content header .header-image img {
    width: 100%;
}

/*
========================
VALUES CARDS
========================
*/

.page-content .values {
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-content .values .value-card {
    margin: 10px;
    width: 20%;
    padding: 10px;
    border: 1px solid #faff03;
}

.page-content .values .value-card h1{
    font-size: 30px;
    text-align: center;
}

.page-content .values .value-card p {
    text-align: center;
    line-height: 30px;
    letter-spacing: 2px;
}